name: CI on Pull Request

on:
  pull_request:
    branches:
      - main
    # paths-ignore:
    #   - '**.md'
    #   - 'docs/**'
    #   - '.gitignore'
    #   - 'LICENSE'

jobs:
  test:
    name: Test and Coverage (95% Required)
    uses: ./.github/workflows/test.yml
    with:
      coverage-threshold: 95
